/alborz
/alborz-linux
*.mbox
/GNUmakefile
/themes/*
!/themes/alborz
/plugins/*
!/plugins/base
!/plugins/caldav
!/plugins/carddav
!/plugins/viewhtml
!/plugins/viewtext
!/plugins/sieve
!/plugins/davcache
!/plugins/dav
