/koushin
/alborz
/alborz-linux
/GNUmakefile
/themes/*
!/themes/sourcehut
!/themes/alps
!/themes/alborz
/plugins/*
!/plugins/base
!/plugins/caldav
!/plugins/carddav
!/plugins/lua
!/plugins/viewhtml
!/plugins/viewtext
!/plugins/sieve
!/plugins/davcache
