<div class="message-list-checkbox">
  <input type="checkbox" id="action-checkbox-all" style="display: none"/>
</div>
<div class="actions-wrap">
  <div class="actions-message">
    {{$common := .CategorizedMailboxes.Common}}
    {{$archive := ""}}{{with $common.Archive}}{{$archive = .Info.Name}}{{end}}
    {{$junk := ""}}{{with $common.Junk}}{{$junk = .Info.Name}}{{end}}
    {{$trash := ""}}{{with $common.Trash}}{{$trash = .Info.Name}}{{end}}

    <div class="action-group">
      {{ if and $archive (eq .Mailbox.Name "INBOX") }}
      <button form="messages-form" formaction="/message/{{.Mailbox.Name | pathescape}}/move?to={{$archive | pathescape}}">Archive</button>
      {{ end }}
    </div>

    <div class="action-group">
      {{ if and $junk (or (eq .Mailbox.Name "INBOX") (eq .Mailbox.Name $trash)) }}
      <button form="messages-form" formaction="/message/{{.Mailbox.Name | pathescape}}/move?to={{$junk | pathescape}}">Report Spam</button>
      {{ end }}
    </div>

    <div class="action-group">
      {{ if and $trash (ne .Mailbox.Name $trash) }}
      <button form="messages-form" formaction="/message/{{.Mailbox.Name | pathescape}}/move?to={{$trash | pathescape}}">Delete</button>
      {{ else }}
      <button form="messages-form" formaction="/message/{{.Mailbox.Name | pathescape}}/delete">Delete Permanently</button>
      {{ end }}
    </div>

    <div class="action-group">
      <a href="{{ .GlobalData.URL.String }}" class="button-link">Refresh</a>
    </div>

    <div class="action-group">
      {{ if not (eq .Mailbox.Name "INBOX") }}
      <a class="button-link" href="/delete-mailbox/{{.Mailbox.Name | pathescape}}">Delete folder</a>
      {{ end }}
    </div>
  </div>

  <form method="get" class="actions-search">
    <input type="text" name="query" dir="auto" value="{{.Query}}" placeholder="Search messages...">
    <button>Search</button>
  </form>

  {{if or (ge .PrevPage 0) (ge .NextPage 0) }}
  <div class="actions-pagination">
    {{if ge .PrevPage 0}}
      <a href="?page={{.PrevPage}}{{with .Query}}&query={{.}}{{end}}" class="button-link">«</a>
    {{end}}
    {{if ge .NextPage 0}}
      <a href="?page={{.NextPage}}{{with .Query}}&query={{.}}{{end}}" class="button-link">»</a>
    {{end}}
  </div>
  {{ end }}
</div>
