{{template "head.html" .}}
{{template "nav.html" .}}

<div class="page-wrap">
  <aside>
    <a href="/calendar/create" class="new {{if not .CalendarObject}}active{{end}}">New event</a>
    {{if .CalendarObject}}<a href="/calendar">{{.Calendar.Name}}</a>{{end}}
  </aside>

  <div class="container">
    <main class="create-update">
      <h2>
        {{if .CalendarObject}}Edit{{else}}Create{{end}} event
      </h2>

      <form method="post">
        {{if not .CalendarObject}}
        <label>
          <span>Calendar</span>
          <select name="calendar">
            {{range .Calendars}}
            <option value="{{.Path}}" {{if eq .Path $.Calendar.Path}}selected{{end}}>{{.Name}}</option>
            {{end}}
          </select>
        </label>
        {{end}}

        <label>
          <span>Event name</span>
          <input type="text" name="summary" id="summary" dir="auto" value="{{.Event.Props.Text "SUMMARY"}}">
        </label>

        <label class="event-date">
          <span>Starts at</span>
          <input type="date" name="start-date" id="start-date" value="{{.Event.DateTimeStart nil | formatinputdate}}"/>
          <input type="time" name="start-time" id="start-time" value="{{.Event.DateTimeStart nil | formatinputtime}}"/>
        </label>

        <label class="event-date">
          <span>Ends at</span>
          <input type="date" name="end-date" id="end-date" value="{{.Event.DateTimeEnd nil | formatinputdate}}"/>
          <input type="time" name="end-time" id="end-time" value="{{.Event.DateTimeEnd nil | formatinputtime}}"/>
        </label>

        <label>
          <span>Description</span>
          <textarea name="description" id="description" dir="auto">{{.Event.Props.Text "DESCRIPTION"}}</textarea>
        </label>

        <div class="actions">
          <button type="submit">Save</button>
          <a class="button-link" href="/calendar">Cancel</a>
        </div>
      </form>
    </main>
  </div>
</div>

{{template "foot.html"}}
