{{template "head.html" .}}
{{template "nav.html" .}}

<div class="page-wrap">
  <aside>
    <a href="/contacts/create" class="new">New contact</a>
    <a href="/contacts" class="active">{{.AddressBook.Name}}</a>
  </aside>

  <div class="container">
    <main class="contact">
      <section class="actions">
        <div class="actions-wrap">
          <div class="actions-message">
            <div class="action-group">
              <a href="{{.AddressObject.URL}}/edit" class="button-link">
                Edit
              </a>
            </div>
            <form
              class="action-group"
              action="{{.AddressObject.URL}}/delete"
              method="post"
            >
              <button type="submit">Delete</button>
            </form>
          </div>
        </div>
      </section>

      <section class="details">
        {{$photo := .AddressObject.PhotoURL}}
        {{if $photo}}
        <img class="contact-photo" src="{{photodatauri $photo}}" alt="">
        {{end}}
        <h1>{{.AddressObject.DisplayName}}</h1>
        <dl>
          {{range .AddressObject.Card.Values "EMAIL"}}
          <dt>Email</dt>
          <dd><a href="/compose?to={{.}}">{{.}}</a></dd>
          {{end}}
          {{range .AddressObject.Card.Values "TEL"}}
          <dt>Phone</dt>
          <dd><a href="tel:{{.}}">{{.}}</a></dd>
          {{end}}
          {{with .AddressObject.Card.PreferredValue "ORG"}}
          <dt>Organization</dt>
          <dd>{{.}}</dd>
          {{end}}
          {{with .AddressObject.Card.PreferredValue "TITLE"}}
          <dt>Job title</dt>
          <dd>{{.}}</dd>
          {{end}}
          {{with $.Birthday}}
          <dt>Birthday</dt>
          <dd>{{.}}</dd>
          {{end}}
          {{with .AddressObject.Card.PreferredValue "URL"}}
          <dt>Website</dt>
          <dd><a href="{{.}}">{{.}}</a></dd>
          {{end}}
          {{with .AddressObject.Card.Address}}
          <dt>Address</dt>
          <dd class="contact-address">{{.StreetAddress}}</dd>
          {{end}}
          {{with .AddressObject.Card.Value "NOTE"}}
          <dt>Notes</dt>
          <dd class="contact-address">{{.}}</dd>
          {{end}}
        </dl>
      </section>
    </main>
  </div>
</div>

{{template "foot.html"}}
