{{template "head.html" .}}
{{template "nav.html" .}}
{{template "util.html" .}}

<div class="page-wrap">
  {{ template "aside" . }}
  <div class="container">
    <main id="main" tabindex="-1" class="create-update">
      <form method="POST">
        <h1>{{printf ($.T "folder.deleteask") .Mailbox.Name}}</h1>
        {{ if .Error }}<div class="alert" role="alert">{{.Error}}</div>{{ end }}
        <div class="alert" role="alert">
          {{printf ($.T "folder.deletewarn") .Mailbox.Name}}
        </div>
        <div class="actions">
          <button type="submit" class="button-danger">{{printf ($.T "folder.deletedo") .Mailbox.Name}}</button>
          <a class="button-link button-quiet" href="/">{{$.T "common.cancel"}}</a>
        </div>
      </form>
    </main>
  </div>
</div>

{{template "foot.html"}}
