{{template "head.html" .}}
{{template "nav.html" .}}
{{template "util.html" .}}

<div class="page-wrap">
  {{$acct := ""}}{{with .GlobalData.URLAccount}}{{$acct = printf "?account=%s" .}}{{end}}
  {{ template "detail-aside" (dict "newHref" (printf "/calendar/create%s" $acct) "newLabel" ($.T "calendar.new") "backHref" (printf "/calendar%s" $acct) "backLabel" .Calendar.Name "backActive" true) }}

  <div class="container">
    <main class="event">
      <section class="actions">
        <div class="actions-wrap">
          <div class="actions-message">
            <div class="action-group">
              <a href="{{.Event.URL}}/update{{$acct}}" class="button-link">{{$.T "common.edit"}}</a>
              <a href="{{.Event.URL}}/raw{{$acct}}" class="button-link">{{$.T "common.source"}}</a>
            </div>
            <form
              class="action-group"
              action="{{.Event.URL}}/delete{{$acct}}"
              method="post"
            >
              <input type="submit" class="button-danger" value="{{$.T "common.delete"}}">
            </form>
            <!-- TODO: Invite attendees -->
          </div>
        </div>
      </section>

      {{ $crumbAcct := .GlobalData.Username }}{{ with .GlobalData.URLAccount }}{{ $crumbAcct = . }}{{ end }}
      <div class="context-crumb">{{$crumbAcct}} › {{.Calendar.Name}}</div>

      <section class="details">
        {{ if .Event.Data.Events }}{{$event := index .Event.Data.Events 0}}
        <h1>{{$event.Props.Text "SUMMARY"}}</h1>
        <table>
          <tr>
            <th>{{$.T "calendar.startdate"}}</th>
            <td>{{ template "date-full" (dict "g" .Global "time" ($event.DateTimeStart nil)) }}</td>
          </tr>
          <tr>
            <th>{{$.T "calendar.enddate"}}</th>
            <td>{{ template "date-full" (dict "g" .Global "time" ($event.DateTimeEnd nil)) }}</td>
          </tr>
          <!-- TODO: List of attendees, room -->
        </table>
        {{ template "user-text" ($event.Props.Text "DESCRIPTION") }}
        {{ template "note-box" (dict
           "action" (printf "%s/note%s" .Event.URL $acct)
           "next" .GlobalData.URL.RequestURI
           "label" ($.T "common.addnote") "add" ($.T "common.add")) }}
        {{ template "object-dates" (dict "g" .Global
           "created" ($event.Props.DateTime "CREATED" nil)
           "modified" ($event.Props.DateTime "LAST-MODIFIED" nil)
           "createdLabel" ($.T "common.created") "modifiedLabel" ($.T "common.modified")) }}
        {{ end }}
      </section>
    </main>
  </div>
</div>

{{template "foot.html"}}
