{{template "head.html" .}}
{{template "nav.html" .}}
{{template "util.html" .}}

<div class="page-wrap">
  {{$acct := ""}}{{with .GlobalData.URLAccount}}{{$acct = printf "?account=%s" .}}{{end}}
  {{ template "detail-aside" (dict "backHref" (printf "/calendar%s" $acct) "backLabel" .Calendar.Name "backActive" true) }}

  <div class="container">
    <main id="main" tabindex="-1" class="event">
      <section class="actions" aria-label="{{$.T "a11y.toolbar"}}">
        {{ template "toolbar-head" (dict "newhref" (printf "/calendar/create%s" $acct) "newlabel" ($.T "calendar.new")) }}
        <span class="icon-group">
          <a class="icon-button" href="{{.Event.URL}}/update{{$acct}}" title="{{$.T "common.edit"}}" aria-label="{{$.T "common.edit"}}">{{ template "icon" "edit" }}</a>
          <a class="icon-button" href="{{.Event.URL}}/raw{{$acct}}" title="{{$.T "common.source"}}" aria-label="{{$.T "common.source"}}">{{ template "icon" "source" }}</a>
          <form action="{{.Event.URL}}/delete{{$acct}}" method="post">
            <button type="submit" class="icon-button icon-danger" title="{{$.T "common.delete"}}" aria-label="{{$.T "common.delete"}}">{{ template "icon" "trash" }}</button>
          </form>
        </span>
            <!-- TODO: Invite attendees -->
        {{ template "toolbar-foot" }}
      </section>

      {{ $crumbAcct := .GlobalData.Username }}{{ with .GlobalData.URLAccount }}{{ $crumbAcct = . }}{{ end }}
      {{ template "dav-crumb" (dict "account" $crumbAcct "urlaccount" $.GlobalData.URLAccount "section" ($.T "nav.calendar") "home" "/calendar" "field" "cal" "collection" .Calendar.Name "path" .Calendar.Path) }}

      <section class="details">
        {{ if .Event.Data.Events }}{{$event := index .Event.Data.Events 0}}
        <h1>{{$event.Props.Text "SUMMARY"}}</h1>
        <table>
          <tr>
            <th scope="row">{{$.T "calendar.startdate"}}</th>
            <td>{{ template "date-full" (dict "g" .Global "time" ($event.DateTimeStart nil)) }}</td>
          </tr>
          <tr>
            <th scope="row">{{$.T "calendar.enddate"}}</th>
            <td>{{ template "date-full" (dict "g" .Global "time" ($event.DateTimeEnd nil)) }}</td>
          </tr>
          <!-- TODO: List of attendees, room -->
          {{/* Reminders set in another client. Nothing here sends one -
               Alborz has nothing that wakes up - so the row states when
               the alarm asks to fire and says no more than that. */}}
          {{ with .Event.Alarms }}
          <tr>
            <th scope="row">{{$.T "calendar.reminders"}}</th>
            <td>
              <ul class="alarm-list">
                {{ range . }}
                <li>{{ template "date-full" (dict "g" $.Global "time" .At) }}</li>
                {{ end }}
              </ul>
              {{ template "hint" (dict "text" ($.T "calendar.remindersnote")) }}
            </td>
          </tr>
          {{ end }}
        </table>
        {{ template "user-text" ($event.Props.Text "DESCRIPTION") }}
        {{ template "note-box" (dict
           "action" (printf "%s/note%s" .Event.URL $acct)
           "next" .GlobalData.URL.RequestURI
           "label" ($.T "common.addnote") "add" ($.T "common.add")) }}
        {{ template "object-dates" (dict "g" .Global
           "created" ($event.Props.DateTime "CREATED" nil)
           "modified" ($event.Props.DateTime "LAST-MODIFIED" nil)
           "createdLabel" ($.T "common.created") "modifiedLabel" ($.T "common.modified")) }}
        {{ end }}
      </section>
    </main>
  </div>
</div>

{{template "foot.html"}}
