{{template "head.html" .}}
{{template "nav.html" .}}
{{template "util.html" .}}

<div class="page-wrap">
  {{ template "aside" . }}
  <div class="container">
    <main id="main" tabindex="-1" class="create-update">
      {{/* The file is the last field on purpose: the form is read as a
           stream and the folder is settled before the file begins. */}}
      <form method="POST" enctype="multipart/form-data">
        {{ $acct := "" }}{{ with .GlobalData.URLAccount }}{{ $acct = printf "?account=%s" . }}{{ end }}
        {{ template "dav-crumb" (dict "g" $ "section" ($.T "nav.email") "home" "/mailbox/INBOX" "field" "" "collection" "" "path" "") }}
        <h1>{{$.T "folder.import"}}</h1>
        {{ template "folder-location" $ }}
        {{ template "import-fields" (dict "g" $ "name" ($.T "folder.name") "namevalue" .Name "namehint" ($.T "folder.importname") "file" ($.T "folder.importfile") "accept" ".mbox,.eml,application/mbox,message/rfc822" "hint" ($.T "folder.importhint") "go" ($.T "folder.importgo") "cancel" (printf "/mailbox/INBOX%s" $acct)) }}
      </form>
    </main>
  </div>
</div>

{{template "foot.html"}}
