{{template "head.html" .}}

<main class="login">
  <section>
    <h1>{{ if .Add }}{{$.T "login.add"}}{{ else }}{{$.T "login.title"}}{{ end }}</h1>

    <form method="post" action="">
      <div class="action-group">
        <label for="username">{{$.T "login.username"}}</label>
        <input type="text" name="username" id="username" autocomplete="username" autofocus />
      </div>

      <div class="action-group">
        <label for="password">{{$.T "login.password"}}</label>
        <input type="password" name="password" id="password" autocomplete="current-password" />
      </div>

      {{if .CanRememberMe}}
      <div class="action-group">
        <label for="remember-me" class="checkbox">
          <input type="checkbox" name="remember-me" id="remember-me" />
          {{$.T "login.remember"}}
        </label>
      </div>
      {{end}}

      {{ if .GlobalData.Notice }}
      <div class="alert">
	{{ .GlobalData.Notice }}
      </div>
      {{ end }}

      <div class="action-group">
        <button type="submit" class="button-primary">{{$.T "login.signin"}}</button>
      </div>
    </form>

    <p class="colophon">
      <a href="https://git.mehdix.org/alborz">alborz</a> · {{.GlobalData.Year}}{{ with .GlobalData.Version }} · {{ . }}{{ end }}
    </p>
  </section>
</main>

{{template "foot.html"}}
