{{template "head.html" .}}
{{template "nav.html" .}}

<div class="page-wrap">
  <aside>
    <ul>
      <li>
        <a href="/mailbox/INBOX">{{$.T "aside.back"}}</a>
      </li>
    </ul>
  </aside>

  <div class="container">
    <main class="settings">
      <form method="post">
        <h3 class="settings-section">{{printf ($.T "settings.foraccount") .GlobalData.Username}}</h3>
        <div class="action-group">
          <label for="from">{{$.T "settings.fullname"}}</label>
          <input
            type="text"
            name="from"
            id="from"
            dir="auto"
            value="{{.Settings.From}}"
          />
        </div>

        <div class="action-group">
          <label for="signature">{{$.T "settings.signature"}}</label>
          <textarea
            name="signature"
            id="signature"
            rows="5"
            dir="auto"
          >{{.Settings.Signature}}</textarea>
        </div>

        <div class="action-group">
          <label for="subscriptions">{{$.T "settings.subs"}}</label>
          <select name="subscriptions" id="subscriptions" multiple>
            {{ $subs := .Subscriptions }}
            {{ range .Mailboxes }}
            {{ if and (ne .Name "INBOX") (not .IsInternal) }}
            <option
              value="{{.Name}}"
              {{ if $subs.Has .Name }}
              selected
              {{ end }}
            >{{.Name}}</option>
            {{ end }}
            {{ end }}
          </select>
        </div>

        <div class="action-group">
          <label for="messages_per_page">{{$.T "settings.perpage"}}</label>
          <input
            type="number"
            name="messages_per_page"
            id="messages_per_page"
            value="{{.Settings.MessagesPerPage}}"
            required />
        </div>


        <div class="action-group">
          <label for="search_body" class="checkbox">
            <input
              type="checkbox"
              name="search_body"
              id="search_body"
              {{ if not .Settings.SearchHeadersOnly }}checked{{ end }} />
            {{$.T "settings.searchbody"}}
          </label>
        </div>

        <div class="action-group">
          <label for="timezone">{{$.T "settings.timezone"}}</label>
          <input
            type="text"
            name="timezone"
            id="timezone"
            value="{{.Settings.Timezone}}"
            placeholder="{{$.T "settings.tzauto"}}" />
          <small>{{$.T "settings.tzhint"}}</small>
        </div>



        <div class="action-group">
          <label for="first_day_of_week">{{$.T "settings.firstday"}}</label>
          <select name="first_day_of_week" id="first_day_of_week">
            <option value="1" {{if eq .Settings.FirstDayOfWeek 1}}selected{{end}}>{{$.T "settings.monday"}}</option>
            <option value="0" {{if eq .Settings.FirstDayOfWeek 0}}selected{{end}}>{{$.T "settings.sunday"}}</option>
            <option value="6" {{if eq .Settings.FirstDayOfWeek 6}}selected{{end}}>{{$.T "settings.saturday"}}</option>
          </select>
        </div>

        <h3 class="settings-section">{{$.T "settings.forbrowser"}}</h3>

                <div class="action-group">
          <label for="language">{{$.T "settings.language"}}</label>
          <select name="language" id="language">
            <option value="" {{ if eq .Language "" }}selected{{ end }}>{{$.T "settings.langauto"}}</option>
            <option value="en" {{ if eq .Language "en" }}selected{{ end }}>English</option>
            <option value="fa" {{ if eq .Language "fa" }}selected{{ end }}>فارسی</option>
            <option value="de" {{ if eq .Language "de" }}selected{{ end }}>Deutsch</option>
            <option value="es" {{ if eq .Language "es" }}selected{{ end }}>Español</option>
          </select>
        </div>

                <div class="action-group">
          <label for="theme">{{$.T "settings.theme"}}</label>
          <select name="theme" id="theme">
            <option value="" {{if eq .Theme ""}}selected{{end}}>{{$.T "settings.themedefault"}}</option>
            <option value="sublime" {{if eq .Theme "sublime"}}selected{{end}}>Sublime</option>
            <option value="sourcehut" {{if eq .Theme "sourcehut"}}selected{{end}}>Sourcehut</option>
            <option value="glass" {{if eq .Theme "glass"}}selected{{end}}>Glass</option>
            <option value="ink" {{if eq .Theme "ink"}}selected{{end}}>Ink</option>
          </select>
        </div>

                <div class="action-group">
          <label for="color_scheme">{{$.T "settings.appearance"}}</label>
          <select name="color_scheme" id="color_scheme">
            <option value="" {{if eq .ColorScheme ""}}selected{{end}}>{{$.T "settings.system"}}</option>
            <option value="light" {{if eq .ColorScheme "light"}}selected{{end}}>{{$.T "settings.light"}}</option>
            <option value="dark" {{if eq .ColorScheme "dark"}}selected{{end}}>{{$.T "settings.dark"}}</option>
          </select>
        </div>

        <button type="submit">{{$.T "settings.save"}}</button>
      </form>
    </main>
  </div>
</div>

{{template "foot.html"}}
