{{template "head.html" .}}
{{template "nav.html" .}}

<div class="page-wrap">
  <aside>
    <a href="/calendar/create" class="new {{if not .CalendarObject}}active{{end}}">{{$.T "calendar.new"}}</a>
    {{if .CalendarObject}}<a href="/calendar">{{.Calendar.Name}}</a>{{end}}
  </aside>

  <div class="container">
    <main class="create-update">
      <form method="post">
        <h2>
          {{if .CalendarObject}}{{$.T "calendar.edittitle"}}{{else}}{{$.T "calendar.createtitle"}}{{end}}
        </h2>
        {{if not .CalendarObject}}
        <label>
          <span>{{$.T "common.calendar"}}</span>
          <select name="calendar">
            {{range .Calendars}}
            <option value="{{.Path}}" {{if eq .Path $.Calendar.Path}}selected{{end}}>{{.Name}}</option>
            {{end}}
          </select>
        </label>
        {{end}}

        <label>
          <span>{{$.T "calendar.eventname"}}</span>
          <input type="text" name="summary" id="summary" dir="auto" value="{{.Event.Props.Text "SUMMARY"}}">
        </label>

        <label>
          <span>{{$.T "calendar.startsat"}}</span>
          <input type="datetime-local" name="start" id="start" value="{{.GlobalData.InTimezone (.Event.DateTimeStart nil) | formatinputdatetime}}"/>
        </label>

        <label>
          <span>{{$.T "calendar.endsat"}}</span>
          <input type="datetime-local" name="end" id="end" value="{{.GlobalData.InTimezone (.Event.DateTimeEnd nil) | formatinputdatetime}}"/>
        </label>

        <label>
          <span>{{$.T "common.description"}}</span>
          <textarea name="description" id="description" dir="auto">{{.Event.Props.Text "DESCRIPTION"}}</textarea>
        </label>

        <div class="actions">
          <button type="submit">{{$.T "common.save"}}</button>
          <a class="button-link" href="/calendar">{{$.T "common.cancel"}}</a>
        </div>
      </form>
    </main>
  </div>
</div>

{{template "foot.html"}}
