{{ define "mbox-link" }}
{{ if not (.Info.HasAttr "\\Noselect") }}
<li {{ if .Info.Active }}class="active"{{ end }}>
  <a href="{{.Info.URL}}">
    {{- .Info.Label -}}
    {{- if .Info.HasAttr "\\HasChildren" }}/{{ end }}
  </a>
  {{ if gt .Info.Unseen 0 }}
  <span class="unseen">({{.Info.Unseen}})</span>
  {{ end }}
</li>
{{ else }}
<li class="noselect">
  {{.Info.Name}}{{- if .Info.HasAttr "\\HasChildren" }}/{{ end }}
</li>
{{ end }}
{{ end }}

{{ define "aside" }}
<aside>
  {{ if .GlobalData.Unified }}
  {{ $active := "" }}{{ with .Mailbox }}{{ $active = .Name }}{{ end }}
  <ul>
    <li>
      <a href="/compose" class="new{{ if eq $.GlobalData.URL.Path "/compose" }} active{{ end }}">{{$.T "aside.compose"}}</a>
    </li>
    <li {{ if and (eq $active "Inbox") (not .Starred) }}class="active"{{ end }}><a href="/mailbox/INBOX">{{$.T "aside.inbox"}}</a></li>
    <li {{ if .Starred }}class="active"{{ end }}><a href="/mailbox/INBOX?starred=1">{{$.T "aside.starred"}}</a></li>
    <li {{ if eq $active "Drafts" }}class="active"{{ end }}><a href="/mailbox/Drafts">{{$.T "aside.drafts"}}</a></li>
    <li {{ if eq $active "Sent" }}class="active"{{ end }}><a href="/mailbox/Sent">{{$.T "aside.sent"}}</a></li>
    <li {{ if eq $active "Junk" }}class="active"{{ end }}><a href="/mailbox/Junk">{{$.T "aside.junk"}}</a></li>
    <li {{ if eq $active "Trash" }}class="active"{{ end }}><a href="/mailbox/Trash">{{$.T "aside.trash"}}</a></li>
    <li {{ if eq $active "Archive" }}class="active"{{ end }}><a href="/mailbox/Archive">{{$.T "aside.archive"}}</a></li>
  </ul>
  {{ else }}
  <ul>
    <!-- the logo image, dimensions 200x32 may be present or not -->
    <li>
      <a href="/compose" class="new
        {{ if eq $.GlobalData.URL.Path "/compose" }}active{{ end }}
      ">{{$.T "aside.compose"}}</a>
    </li>
    {{ with .CategorizedMailboxes }}
    {{ with .Common.Inbox }}{{ template "mbox-link" . }}{{ end }}
    <li {{ if $.Starred }}class="active"{{ end }}>
      <a href="/mailbox/INBOX?starred=1">{{$.T "aside.starred"}}</a>
    </li>
    {{ with .Common.Drafts }}{{ template "mbox-link" . }}{{ end }}
    {{ with .Common.Sent }}{{ template "mbox-link" . }}{{ end }}
    {{ with .Common.Junk }}{{ template "mbox-link" . }}{{ end }}
    {{ with .Common.Trash }}{{ template "mbox-link" . }}{{ end }}
    {{ with .Common.Archive }}{{ template "mbox-link" . }}{{ end }}
    {{ if .Additional }}
    <hr />
    {{ range .Additional }}
    {{ template "mbox-link" . }}
    {{ end }}
    {{ end }}
    {{ end }}
    <li>
      <a href="/new-mailbox" class="new
        {{ if eq $.GlobalData.URL.Path "/new-mailbox" }}active{{ end }}
      ">{{$.T "aside.newfolder"}}</a>
    </li>
  </ul>
  {{ end }}
</aside>
{{ end }}
